extends layout

block content



    div.container
        div.row
            h1= "Glucose-N"
            h6= "Type your SSH command"

        div.row
            form(class="form-search")
                input#txtCommand(class="span11 input-medium search-query control-label", type="text", placeholder="Type: <ssh commands^user@host>. Ex: ls;uname -a^foo@bar.com")
                btn(class="btn btn-primary", onClick="sendMessage()")= "Submit"

        div.row
            textArea#txtResult(class="span11", readonly = true, rows=30)